Build
Build.bat
MYMETA.json
MYMETA.yml
_build
blib
xs/buildtmp
*.o
MANIFEST.bak
xs/MANIFEST.bak
xs/assertlib*
.init_bundle.ini
local-lib
/build2
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/PrusaSlicer/v16/ipch/AutoPCH/b8721eafade04e06/GCODEWRITER.ipch
/.vs/PrusaSlicer/v16/Browse.VC.opendb
/.vs/PrusaSlicer/v16/Browse.VC.db-wal
/.vs/PrusaSlicer/v16/Browse.VC.db-shm
/.vs/PrusaSlicer/v16/Browse.VC.db
/.vs/PrusaSlicer/v16/.suo
/.vs/ProjectSettings.json
/.vs/CMake Overview
